/* Fonts families */
body.pff-1, .pff-1 input, .pff-1 select, .pff-1 textarea, .pff-1 blockquote, .pff-1 .ui-widget { font-family: 'Merriweather', Georgia, Times New Roman, Serif; }
body.pff-2, .pff-2 input, .pff-2 select, .pff-2 textarea, .pff-2 blockquote, .pff-2 .ui-widget { font-family: 'Source Sans Pro', Helvetica Neue, Arial, Sans-serif; }
body.pff-3, .pff-3 input, .pff-3 select, .pff-3 textarea, .pff-3 blockquote, .pff-3 .ui-widget { font-family: 'Ubuntu', Helvetica Neue, Arial, Sans-serif; }
body.pff-4, .pff-4 input, .pff-4 select, .pff-4 textarea, .pff-4 blockquote, .pff-4 .ui-widget { font-family: 'PT Sans', Helvetica Neue, Arial, Sans-serif; }
body.pff-5, .pff-5 input, .pff-5 select, .pff-5 textarea, .pff-5 blockquote, .pff-5 .ui-widget { font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif; }
body.pff-6, .pff-6 input, .pff-6 select, .pff-6 textarea, .pff-6 blockquote, .pff-6 .ui-widget { font-family: 'Open Sans', Helvetica Neue, Arial, Sans-serif; }
body.pff-7, .pff-7 input, .pff-7 select, .pff-7 textarea, .pff-7 blockquote, .pff-7 .ui-widget { font-family: 'Lato', Helvetica Neue, Arial, Sans-serif; }
body.pff-8, .pff-8 input, .pff-8 select, .pff-8 textarea, .pff-8 blockquote, .pff-8 .ui-widget { font-family: 'Roboto Condensed', Arial Narrow, Arial, Sans-serif; }
body.pff-9, .pff-9 input, .pff-9 select, .pff-9 textarea, .pff-9 blockquote, .pff-9 .ui-widget { font-family: 'Exo', Helvetica Neue, Arial, Sans-serif; }
body.pff-10, .pff-10 input, .pff-10 select, .pff-10 textarea, .pff-10 blockquote, .pff-10 .ui-widget { font-family: 'Roboto Slab', Trebuchet MS, Sans-serif; }
body.pff-11, .pff-11 input, .pff-11 select, .pff-11 textarea, .pff-11 blockquote, .pff-11 .ui-widget { font-family: 'Raleway', Helvetica Neue, Arial, Sans-serif; }
body.pff-12, .pff-12 input, .pff-12 select, .pff-12 textarea, .pff-12 blockquote, .pff-12 .ui-widget { font-family: 'Josefin Sans', Georgia, Times New Roman, Serif; }
body.pff-13, .pff-13 input, .pff-13 select, .pff-13 textarea, .pff-13 blockquote, .pff-13 .ui-widget { font-family: Georgia, Times New Roman, Serif; }
body.pff-14, .pff-14 input, .pff-14 select, .pff-14 textarea, .pff-14 blockquote, .pff-14 .ui-widget { font-family: 'Playfair Display', Times New Roman, Serif; }
body.pff-15, .pff-15 input, .pff-15 select, .pff-15 textarea, .pff-15 blockquote, .pff-15 .ui-widget { font-family: 'Philosopher', Georgia, Times New Roman, Serif; }
body.pff-16, .pff-16 input, .pff-16 select, .pff-16 textarea, .pff-16 blockquote, .pff-16 .ui-widget { font-family: 'Cinzel', Georgia, Times New Roman, Serif; }
body.pff-17, .pff-17 input, .pff-17 select, .pff-17 textarea, .pff-17 blockquote, .pff-17 .ui-widget { font-family: 'Oswald', Helvetica Neue, Arial, Sans-serif; }
body.pff-18, .pff-18 input, .pff-18 select, .pff-18 textarea, .pff-18 blockquote, .pff-18 .ui-widget { font-family: 'Playfair Display SC', Georgia, Times New Roman, Serif; }
body.pff-19, .pff-19 input, .pff-19 select, .pff-19 textarea, .pff-19 blockquote, .pff-19 .ui-widget { font-family: 'Cabin', Helvetica Neue, Arial, Sans-serif; }
body.pff-20, .pff-20 input, .pff-20 select, .pff-20 textarea, .pff-20 blockquote, .pff-20 .ui-widget { font-family: 'Noto Sans', Arial, Helvetica Neue, Sans-serif; }
body.pff-21, .pff-21 input, .pff-21 select, .pff-21 textarea, .pff-21 blockquote, .pff-21 .ui-widget { font-family: Helvetica Neue, Arial, Sans-serif; }
body.pff-22, .pff-22 input, .pff-22 select, .pff-22 textarea, .pff-22 blockquote, .pff-22 .ui-widget { font-family: 'Droid Serif', Georgia, Times, Times New Roman, Serif; }
body.pff-23, .pff-23 input, .pff-23 select, .pff-23 textarea, .pff-23 blockquote, .pff-23 .ui-widget { font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif; }
body.pff-24, .pff-24 input, .pff-24 select, .pff-24 textarea, .pff-24 blockquote, .pff-24 .ui-widget { font-family: 'Vollkorn', Georgia, Times, Times New Roman, Serif; }
body.pff-25, .pff-25 input, .pff-25 select, .pff-25 textarea, .pff-25 blockquote, .pff-25 .ui-widget { font-family: 'Alegreya', Georgia, Times, Times New Roman, Serif; }
body.pff-26, .pff-26 input, .pff-26 select, .pff-26 textarea, .pff-26 blockquote, .pff-26 .ui-widget { font-family: 'Noto Serif', Georgia, Times, Times New Roman, Serif; }
body.pff-27, .pff-27 input, .pff-27 select, .pff-27 textarea, .pff-27 blockquote, .pff-27 .ui-widget { font-family: 'Crimson Text', Georgia, Times, Times New Roman, Serif; }
body.pff-28, .pff-28 input, .pff-28 select, .pff-28 textarea, .pff-28 blockquote, .pff-28 .ui-widget { font-family: 'Gentium Book Basic', Georgia, Times, Times New Roman, Serif; }
body.pff-29, .pff-29 input, .pff-29 select, .pff-29 textarea, .pff-29 blockquote, .pff-29 .ui-widget { font-family: 'Volkhov', Georgia, Times, Times New Roman, Serif; }
body.pff-30, .pff-30 input, .pff-30 select, .pff-30 textarea, .pff-30 blockquote, .pff-30 .ui-widget { font-family: Times, Times New Roman, Serif; }
body.pff-31, .pff-31 input, .pff-31 select, .pff-31 textarea, .pff-31 blockquote, .pff-31 .ui-widget { font-family: 'Alegreya SC', Georgia, Times, Times New Roman, Serif; }

.hff-1 h1,.hff-1 h2,.hff-1 h3,.hff-1 h4,.hff-1 h5,.hff-1 h6, .hff-1 .title-teaser-text .title, .sff-1 #site-name, 
.sff-1 #subfooter-site-name, .slff-1 #site-slogan { font-family: 'Merriweather', Georgia, Times New Roman, Serif; }
.hff-2 h1,.hff-2 h2,.hff-2 h3,.hff-2 h4,.hff-2 h5,.hff-2 h6, .hff-2 .title-teaser-text .title, .sff-2 #site-name, 
.sff-2 #subfooter-site-name, .slff-2 #site-slogan { font-family: 'Source Sans Pro', Helvetica Neue, Arial, Sans-serif;  }
.hff-3 h1,.hff-3 h2,.hff-3 h3,.hff-3 h4,.hff-3 h5,.hff-3 h6, .hff-3 .title-teaser-text .title, .sff-3 #site-name, 
.sff-3 #subfooter-site-name, .slff-3 #site-slogan { font-family: 'Ubuntu', Helvetica Neue, Arial, Sans-serif; }
.hff-4 h1,.hff-4 h2,.hff-4 h3,.hff-4 h4,.hff-4 h5,.hff-4 h6, .hff-4 .title-teaser-text .title, .sff-4 #site-name, 
.sff-4 #subfooter-site-name, .slff-4 #site-slogan { font-family: 'PT Sans', Helvetica Neue, Arial, Sans-serif; }
.hff-5 h1,.hff-5 h2,.hff-5 h3,.hff-5 h4,.hff-5 h5,.hff-5 h6, .hff-5 .title-teaser-text .title, .sff-5 #site-name, 
.sff-5 #subfooter-site-name, .slff-5 #site-slogan { font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif; }
.hff-6 h1,.hff-6 h2,.hff-6 h3,.hff-6 h4,.hff-6 h5,.hff-6 h6, .hff-6 .title-teaser-text .title, .sff-6 #site-name, 
.sff-6 #subfooter-site-name, .slff-6 #site-slogan { font-family: 'Open Sans', Helvetica Neue, Arial, Sans-serif; }
.hff-7 h1,.hff-7 h2,.hff-7 h3,.hff-7 h4,.hff-7 h5,.hff-7 h6, .hff-7 .title-teaser-text .title, .sff-7 #site-name, 
.sff-7 #subfooter-site-name, .slff-7 #site-slogan { font-family: 'Lato', Helvetica Neue, Arial, Sans-serif; }
.hff-8 h1,.hff-8 h2,.hff-8 h3,.hff-8 h4,.hff-8 h5,.hff-8 h6, .hff-8 .title-teaser-text .title, .sff-8 #site-name, 
.sff-8 #subfooter-site-name, .slff-8 #site-slogan { font-family: 'Roboto Condensed', Arial Narrow, Arial, Sans-serif; }
.hff-9 h1,.hff-9 h2,.hff-9 h3,.hff-9 h4,.hff-9 h5,.hff-9 h6, .hff-9 .title-teaser-text .title, .sff-9 #site-name, 
.sff-9 #subfooter-site-name, .slff-9 #site-slogan { font-family: 'Exo', Helvetica Neue, Arial, Sans-serif; }
.hff-10 h1,.hff-10 h2,.hff-10 h3,.hff-10 h4,.hff-10 h5,.hff-10 h6, .hff-10 .title-teaser-text .title, .sff-10 #site-name, 
.sff-10 #subfooter-site-name, .slff-10 #site-slogan { font-family: 'Roboto Slab', Trebuchet MS, Sans-serif; }
.hff-11 h1,.hff-11 h2,.hff-11 h3,.hff-11 h4,.hff-11 h5,.hff-11 h6, .hff-11 .title-teaser-text .title, .sff-11 #site-name, 
.sff-11 #subfooter-site-name, .slff-11 #site-slogan { font-family: 'Raleway', Helvetica Neue, Arial, Sans-serif; }
.hff-12 h1,.hff-12 h2,.hff-12 h3,.hff-12 h4,.hff-12 h5,.hff-12 h6, .hff-12 .title-teaser-text .title, .sff-12 #site-name, 
.sff-12 #subfooter-site-name, .slff-12 #site-slogan { font-family: 'Josefin Sans', Georgia, Times New Roman, Serif; }
.hff-13 h1,.hff-13 h2,.hff-13 h3,.hff-13 h4,.hff-13 h5,.hff-13 h6, .hff-13 .title-teaser-text .title, .sff-13 #site-name, 
.sff-13 #subfooter-site-name, .slff-13 #site-slogan { font-family: Georgia, Times New Roman, Serif; }
.hff-14 h1,.hff-14 h2,.hff-14 h3,.hff-14 h4,.hff-14 h5,.hff-14 h6, .hff-14 .title-teaser-text .title, .sff-14 #site-name, 
.sff-14 #subfooter-site-name, .slff-14 #site-slogan { font-family: 'Playfair Display', Times New Roman, Serif; }
.hff-15 h1,.hff-15 h2,.hff-15 h3,.hff-15 h4,.hff-15 h5,.hff-15 h6, .hff-15 .title-teaser-text .title, .sff-15 #site-name, 
.sff-15 #subfooter-site-name, .slff-15 #site-slogan { font-family: 'Philosopher', Georgia, Times New Roman, Serif; }
.hff-16 h1,.hff-16 h2,.hff-16 h3,.hff-16 h4,.hff-16 h5,.hff-16 h6, .hff-16 .title-teaser-text .title, .sff-16 #site-name, 
.sff-16 #subfooter-site-name, .slff-16 #site-slogan { font-family: 'Cinzel', Georgia, Times New Roman, Serif; }
.hff-17 h1,.hff-17 h2,.hff-17 h3,.hff-17 h4,.hff-17 h5,.hff-17 h6, .hff-17 .title-teaser-text .title, .sff-17 #site-name, 
.sff-17 #subfooter-site-name, .slff-17 #site-slogan { font-family: 'Oswald', Helvetica Neue, Arial, Sans-serif; }
.hff-18 h1,.hff-18 h2,.hff-18 h3,.hff-18 h4,.hff-18 h5,.hff-18 h6, .hff-18 .title-teaser-text .title, .sff-18 #site-name, 
.sff-18 #subfooter-site-name, .slff-18 #site-slogan { font-family: 'Playfair Display SC', Georgia, Times New Roman, Serif; }
.hff-19 h1,.hff-19 h2,.hff-19 h3,.hff-19 h4,.hff-19 h5,.hff-19 h6, .hff-19 .title-teaser-text .title, .sff-19 #site-name, 
.sff-19 #subfooter-site-name, .slff-19 #site-slogan { font-family: 'Cabin', Helvetica Neue, Arial, Sans-serif; }
.hff-20 h1,.hff-20 h2,.hff-20 h3,.hff-20 h4,.hff-20 h5,.hff-20 h6, .hff-20 .title-teaser-text .title, .sff-20 #site-name, 
.sff-20 #subfooter-site-name, .slff-20 #site-slogan { font-family: 'Noto Sans', Arial, Helvetica Neue, Sans-serif; }
.hff-21 h1,.hff-21 h2,.hff-21 h3,.hff-21 h4,.hff-21 h5,.hff-21 h6, .hff-21 .title-teaser-text .title, .sff-21 #site-name, 
.sff-21 #subfooter-site-name, .slff-21 #site-slogan { font-family: Helvetica Neue, Arial, Sans-serif; }
.hff-22 h1,.hff-22 h2,.hff-22 h3,.hff-22 h4,.hff-22 h5,.hff-22 h6, .hff-22 .title-teaser-text .title, .sff-22 #site-name, 
.sff-22 #subfooter-site-name, .slff-22 #site-slogan { font-family: 'Droid Serif', Georgia, Times, Times New Roman, Serif; }
.hff-23 h1,.hff-23 h2,.hff-23 h3,.hff-23 h4,.hff-23 h5,.hff-23 h6, .hff-23 .title-teaser-text .title, .sff-23 #site-name, 
.sff-23 #subfooter-site-name, .slff-23 #site-slogan { font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif; }
.hff-24 h1,.hff-24 h2,.hff-24 h3,.hff-24 h4,.hff-24 h5,.hff-24 h6, .hff-24 .title-teaser-text .title, .sff-24 #site-name, 
.sff-24 #subfooter-site-name, .slff-24 #site-slogan { font-family: 'Vollkorn', Georgia, Times, Times New Roman, Serif; }
.hff-25 h1,.hff-25 h2,.hff-25 h3,.hff-25 h4,.hff-25 h5,.hff-25 h6, .hff-25 .title-teaser-text .title, .sff-25 #site-name, 
.sff-25 #subfooter-site-name, .slff-25 #site-slogan { font-family: 'Alegreya', Georgia, Times, Times New Roman, Serif; }
.hff-26 h1,.hff-26 h2,.hff-26 h3,.hff-26 h4,.hff-26 h5,.hff-26 h6, .hff-26 .title-teaser-text .title, .sff-26 #site-name, 
.sff-26 #subfooter-site-name, .slff-26 #site-slogan { font-family: 'Noto Serif', Georgia, Times, Times New Roman, Serif; }
.hff-27 h1,.hff-27 h2,.hff-27 h3,.hff-27 h4,.hff-27 h5,.hff-27 h6, .hff-27 .title-teaser-text .title, .sff-27 #site-name, 
.sff-27 #subfooter-site-name, .slff-27 #site-slogan { font-family: 'Crimson Text', Georgia, Times, Times New Roman, Serif; }
.hff-28 h1,.hff-28 h2,.hff-28 h3,.hff-28 h4,.hff-28 h5,.hff-28 h6, .hff-28 .title-teaser-text .title, .sff-28 #site-name, 
.sff-28 #subfooter-site-name, .slff-28 #site-slogan { font-family: 'Gentium Book Basic', Georgia, Times, Times New Roman, Serif; }
.hff-29 h1,.hff-29 h2,.hff-29 h3,.hff-29 h4,.hff-29 h5,.hff-29 h6, .hff-29 .title-teaser-text .title, .sff-29 #site-name, 
.sff-29 #subfooter-site-name, .slff-29 #site-slogan { font-family: 'Volkhov', Georgia, Times, Times New Roman, Serif; }
.hff-30 h1,.hff-30 h2,.hff-30 h3,.hff-30 h4,.hff-30 h5,.hff-30 h6, .hff-30 .title-teaser-text .title, .sff-30 #site-name, 
.sff-30 #subfooter-site-name, .slff-30 #site-slogan { font-family: Times, Times New Roman, Serif; }
.hff-31 h1,.hff-31 h2,.hff-31 h3,.hff-31 h4,.hff-31 h5,.hff-31 h6, .hff-31 .title-teaser-text .title, .sff-31 #site-name, 
.sff-31 #subfooter-site-name, .slff-31 #site-slogan { font-family: 'Alegreya SC', Georgia, Times, Times New Roman, Serif; }

.maintenance-page #site-name, .maintenance-page h1, body.maintenance-page, .maintenance-page #site-slogan { font-family: 'Lato', Helvetica Neue, Arial, Sans-serif; }


html,
body {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

main {
  flex: 1;
  padding: 120px 0 30px;
}

main p {
  text-align: justify;
}

main p:last-of-type {
  margin-bottom: 0;
}

footer {
  padding: 15px 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 -5px 15px rgba(0,0,0,.5);
}

.smm {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.smm ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.smm li {
  display: inline-block;
  position: relative;
}

.smm li > a {
  display: block;
  position: relative;
  padding: 6px 12px;
  color: #333;
}

.smm li > a:focus,
.smm li > a:hover {
  color: #000;
  text-decoration: none;
}

.smm__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  transition: background .4s ease, padding .4s ease;
}

.smm__logo-wrapper {
  margin: 0;
  transition: margin .4s ease;
}

.smm__toggle {
  border-radius: 0;
  border-color: #999;
}

.smm__toggle:focus,
.smm__toggle:hover,
.smm__toggle:active,
.smm__toggle:active:hover {
  color: #333;
  background-color: #fff;
  border-color: #999;
  box-shadow: none;
  outline: none;
}

.smm__collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 30px;
}

.smm__primary-menu li > a:after {
  content: '';
  position: absolute;
  height: 2px;
  right: 12px;
  bottom: 4px;
  left: 12px;
  background-color: #d43f3a;
  transform: scale(0,1);
  transition: transform .25s ease;
}

.smm__primary-menu li:focus > a:after,
.smm__primary-menu li:hover > a:after {
  transform: scale(1,1);
}

.smm__primary-menu li > a > .fa {
  margin-right: 6px;
}

.smm__secondary-menu li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  transform: scale(0);
  transition: transform .25s ease;
}

.smm__secondary-menu li:nth-child(1):before {
  background-color: #3a559f;
}

.smm__secondary-menu li:nth-child(2):before {
  background-color: #dc3489;
}

.smm__secondary-menu li:nth-child(3):before {
  background-color: #55acee;
}

.smm__secondary-menu li:nth-child(4):before {
  background-color: #0077b5;
}

.smm__secondary-menu li:focus:before,
.smm__secondary-menu li:hover:before {
  transform: scale(1);
}

.smm__secondary-menu li:focus > a,
.smm__secondary-menu li:hover > a {
  color: #fff;
}

.smm__secondary-menu li > a {
  font-size: 1.142em;
  transition: color .25s ease;
}
